<section class="tab {{tabs.gemDetails.cssClass}} gemDetails SD-content-body flex1" data-group="sheet" data-tab="gemDetails">
	<div class="grid-3-columns">
		{{> items/_partials/cost }}
	</div>
</section>
