<section class="tab {{tabs.effects.cssClass}} source SD-content-body flex1" data-group="sheet" data-tab="effects">
	<div class="grid-1-columns">
		{{> _partials/predefined-effects-selector}}
		{{> items/_partials/effects/active-effects-list}}
		{{#if showEffectChanges}}{{> items/_partials/effects/effect-increases}}{{/if}}
	</div>
</section>
