<header class="SD-header flex0">
	<img
		src="{{item.img}}"
		data-edit="img"
		name="item.img"
		data-action="editImage"
		data-image-id
		data-tooltip="{{item.name}}"
		height="64"
		width="auto"
	/>
	<div class="SD-title">
		<input
			class="item-name"
			name="name"
			type="text"
			value="{{item.name}}"
			placeholder="{{localize 'Name'}}"
		/>
	</div>
</header>
