<section class="tab {{tabs.effectDetails.cssClass}} effectDetails" data-group="sheet" data-tab="effectDetails">
	<div class="grid-3-columns">
		{{> items/effect/_partials/category }}
		{{> items/effect/_partials/duration }}
		{{> items/effect/_partials/properties }}
		{{> items/effect/_partials/hitLocation }}
	</div>
</section>
