<section class="tab effects {{tabs.effects.cssClass}}" data-tab="effects" data-group="sheet">
	{{> actors/_partials/effects/effects-and-conditions}}
	<br>
	{{> actors/_partials/effects/active-effects}}
	{{#if learnedRunes}}
	{{> actors/_partials/effects/active-britannian-spells}}
	{{/if}}
</section>
