<div class="SD-banner grid-colspan-3">
	{{localize 'SHADOWDARK.form.section_header.talents.label'}}
</div>


<!-- fixed talents.-->
{{#> ui/sd-box
	header-label="Fixed"
	header-class="light"
}}
	{{> items/_partials/choice-selector
		config=fixedTalentsConfig
		editable=editable
		name="system.fixedTalents"
	}}
{{/ui/sd-box}}


<!-- choice talents-->
{{#> ui/sd-box
	header-label="Choice"
	header-class="light"
}}
	{{> items/_partials/choice-selector
		config=talentsConfig
		editable=editable
		name="system.talentChoice"
	}}
{{/ui/sd-box}}


<!-- talents options-->
{{#> ui/sd-box
	header-label=""
	header-class="light"
	content-class="SD-grid right"
}}
	<h3>{{localize "SHADOWDARK.ancestry.choice_count"}}</h3>
	{{numberInput
		item.system.talentChoiceCount
		name="system.talentChoiceCount"
		placeholder="0"
	}}
{{/ui/sd-box}}
