<section class="tab {{tabs.ancestryDetails.cssClass}} ancestryDetails SD-content-body flex1" data-group="sheet" data-tab="ancestryDetails">
	<div class="grid-3-columns">
		{{> items/ancestry/_partials/languages }}
		{{> items/ancestry/_partials/talents }}
		{{> items/ancestry/_partials/character-generator }}
	</div>
</section>
