<section class="tab {{tabs.classDetails.cssClass}} classDetails SD-content-body flex1" data-group="sheet" data-tab="classDetails">
	<div class="grid-3-columns">
		{{> items/class/_partials/details }}
		{{> items/class/_partials/equipment }}
		{{> items/class/_partials/languages }}
		{{> items/class/_partials/patron }}
		{{> items/class/_partials/talents }}
		{{> items/class/_partials/class-abilities }}
	</div>
</section>
