<section class="tab {{tabs.basicDetails.cssClass}} basicDetails SD-content-body flex1" data-group="sheet" data-tab="basicDetails">
	<div class="grid-3-columns">
		{{> items/_partials/cost }}
		{{> items/_partials/slots }}
		{{> items/basic/_partials/item-properties }}
	</div>
</section>
