<div class="centered-box" style="width: 99%">
    <div><h3>{{localize 'SHADOWDARK.item.talent_multiple'}}</h3><input type="checkbox" name="system.allowMultipleChoice"{{#if system.allowMultipleChoice}} checked{{/if}}></div>
    <div><h3>{{localize 'SHADOWDARK.item.craftable_potion'}}</h3><input type="checkbox" name="system.craftablePotion"{{#if system.craftablePotion}} checked{{/if}}></div>
</div>
