<section class="tab {{tabs.spellDetails.cssClass}} spellDetails SD-content-body flex1" data-group="sheet" data-tab="spellDetails">
	<div class="grid-3-columns">
		{{> items/_partials/spell }}
	</div>
</section>
