<section class="tab abilities {{tabs.abilities.cssClass}}" data-tab="abilities" data-group="sheet">
	<div class="abilities-grid">
		<div class="grid-2-columns">
			{{> actors/player/abilities/hp }}
			{{> actors/player/abilities/ac }}
			{{> actors/player/abilities/move }}
			{{> actors/player/abilities/stats }}
			{{> actors/player/abilities/luck }}
		</div>
		<div class="grid-1-columns">
			{{> actors/player/abilities/attacks }}
			{{#if hasClassAbilities}}
				{{> actors/player/abilities/class }}
			{{/if}}
		</div>
	</div>
</section>
