<header class="window-header flexrow draggable resizable">
    <h4 class="window-title" style="">{{title}}</h4>
    <a class="header-button control close">
        <i class="fa-solid fa-xmark"></i>Close
    </a>
</header>