<section class="tab {{tabs.talentDetails.cssClass}} talentDetails SD-content-body flex1" data-group="sheet" data-tab="talentDetails">
	<div class="grid-3-columns">
		{{> items/talent/_partials/talent-class }}
		{{> items/talent/_partials/talent-class-detail }}
		{{> items/talent/_partials/talent-options }}
		{{> items/talent/_partials/nano-magic }}
		{{#if system.isPower}}
			{{> items/talent/_partials/power-level }}
			<div>
				{{> items/talent/_partials/resisted-by }}
				{{> items/talent/_partials/hp-cost }}
			</div>
			{{> items/talent/_partials/requirements }}
			{{> items/talent/_partials/duration }}
			{{> items/talent/_partials/damage }}
		{{/if}}
	</div>
	{{> items/talent/_partials/craft-target }}
</section>
