{{#if evolutionGrid}}
<!-- Evolution Grid Items -->
<div class="SD-box">
	<div class="header">
		<label>
			{{localize "SHADOWDARK.sheet.player.evolutionGrid"}}
		</label>
		<span>
			{{#if owner}}
				<a
					class="item-selector edit-button evolution-grid-icon"
					data-action="openEvolutionGrid">
                    <img class="evolution-grid-icon" style="opacity: 0.5" src="/systems/shadowdark/assets/icons/grid.png">
				</a>
			{{/if}}
		</span>
	</div>
	<div class="content">
		<ul class="tags">
			{{#each evolutionGridItems}}
				<li
					{{#ifEq this.system.rarity "common"}}
						class="tag tag_primary"
					{{else}}
						class="tag tag_secondary"
					{{/ifEq}}
					data-tooltip="{{this.system.description}}"
				>
					{{this.name}}
				</li>
			{{/each}}
		</ul>
	</div>
</div>
{{/if}}