<!-- Level -->
<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.actor.level'}}</label>
		<span></span>
	</div>
	<div class="content centered">
		{{#if evolutionGrid}}
			{{system.level.grid}}
		{{else}}
			{{#unless levelUp}}
				{{system.level.value}}
			{{/unless}}
			{{#if levelUp}}
				<a class="fa-solid fa-arrow-up fa-beat" data-action="levelUp"></a>
			{{/if}}
		{{/if}}
	</div>
</div>
