<div class="SD-box grid-rowspan-1">

	<div class="header">
		<label>
			{{localize "SHADOWDARK.sheet.item.tab.stat-points"}}
		</label>
		<span></span>
	</div>
	<div class="stat-points">
		{{actor.system.abilitiesPoints}}
	</div>
</div>
