<section class="tab {{tabs.classAbilityDetails.cssClass}} classAbilityDetails SD-content-body flex1" data-group="sheet" data-tab="classAbilityDetails">
	<div class="grid-3-columns">
		{{> items/class-ability/_partials/ability-check }}
		{{> items/class-ability/_partials/ability-group }}
		{{> items/class-ability/_partials/options }}
	</div>
</section>
