<section class="tab {{tabs.potionDetails.cssClass}} potionDetails SD-content-body flex1" data-group="sheet" data-tab="potionDetails">
	<div class="grid-3-columns">
		{{> items/_partials/cost }}
		{{> items/_partials/slots }}
		{{> items/potion/_partials/properties }}
	</div>
</section>
